PyQt5
PyQtWebEngine
paramiko
boto3
botocore 
cryptography
kubernetes
watchdog
pyyaml
cfn-flip
kubernetes
python-gitlab

PyYAML
kubernetes
ansible
ansible_runner
matplotlib
plotly 
requests
slack_sdk
pygments
python-jenkins
prometheus_client
#jenkins
GitPython
python-hcl2

pyhelm